<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/verte@0.0.12/dist/verte.css">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
        <title>Random Retro Rectangles</title>
    </head>

    <body>
        <div id="app" style="margin: 1em 32px">
            <b-navbar class="container" spaced :mobile-burger="false">
                <template slot="brand">
                    <b-navbar-item>
                        <p>Random Retro Rectangles</p>
                    </b-navbar-item>
                </template>
            </b-navbar>

            <div class="container">
                <div class="columns">
                    <div class="column">
                        <section>
                            <!-- Density -->
                            <b-field label="Density">
                                <b-slider v-model="density" size="is-medium" lazy :min="1" :max="100"></b-slider>
                            </b-field>
                            <p>Describes how many squares are used.</p>
                            <hr>
                            <!-- Canvas -->
                            <b-field label="Canvas">
                                <b-field grouped expanded>
                                    <b-field expanded>
                                        <b-input v-model="canvasWidth" type="number" min="2" max="3000"></b-input>
                                    </b-field>
                                    <p class="control">x</p>
                                    <b-field expanded>
                                        <b-input v-model="canvasHeight" type="number" min="2" max="3000"></b-input>
                                    </b-field>
                                </b-field>
                            </b-field>
                            <hr>
                            <!-- Merge Factor -->
                            <b-field label="Merge Factor">
                                <b-slider v-model="p" size="is-medium" lazy :min="1" :max="100" :step="1"></b-slider>
                            </b-field>
                            <p>Smaller = more merging</p>
                            <hr>
                            <!-- Background Color + toggle -->
                            <b-field grouped expanded>
                                <b-field label="backgroundColor" expanded>
                                    <b-field grouped>
                                        <b-switch v-model="enableBackgroundColor"></b-switch>
                                        <verte v-model="backgroundColor" picker="square" model="hex" menu-position="center" :value="backgroundColor"></verte>
                                    </b-field>
                                </b-field>

                                <b-field label="Rotate" expanded>
                                    <b-switch v-model="transform"></b-switch>
                                </b-field>
                            </b-field>
                            <hr>
                            <!-- Colors -->
                            <b-field label="Colors">
                                <b-field grouped expanded>
                                    <b-field v-for="(color, index) in colors" :key="index">
                                        <verte v-model="colors[index].fill" picker="square" model="hex" menu-position="center" @hook:mounted="verteClick()" ref="verte"></verte>
                                    </b-field>
                                </b-field>
                            </b-field>
                            <b-button @click="colors.push({fill: '#000000'});" icon-right="plus" type="is-success" class="is-right"></b-button>
                            <b-button @click="colors.pop()" icon-right="minus" type="is-danger"></b-button>
                            <hr>
                            <!-- Buttons -->
                            <b-button @click="getImage" class="is-success" :loading="loading">Get image</b-button>
                            <a id="save-button" download="random-retro-rectangles.png">
                                <b-button class="is-info" :disabled="!requestComplete">Save image</b-button>
                            </a>
                        </section>
                    </div>
                    <div class="column">
                        <section>
                            <!-- Image -->
                            <figure class="image is-16by9" id="image"></figure>
                        </section>
                        <section>
                            <!-- Code -->
                            <pre v-highlightjs="source">
                                <code class="http">
                                </code>
                            </pre>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <script src="//unpkg.com/vue"></script>
        <script src="//unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/http.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/verte"></script>

        <script>
            hljs.initHighlightingOnLoad();

            Vue.directive('highlightjs', {
                deep: true,
                bind: function (el, binding) {
                    // on first bind, highlight all targets
                    let targets = el.querySelectorAll('code')
                    targets.forEach((target) => {
                    // if a value is directly assigned to the directive, use this
                    // instead of the element content.
                        if (binding.value) {
                            target.textContent = binding.value
                        }
                        hljs.highlightBlock(target)
                    })
                },
                componentUpdated: function (el, binding) {
                    // after an update, re-fill the content and then highlight
                    let targets = el.querySelectorAll('code')
                    targets.forEach((target) => {
                        if (binding.value) {
                            target.textContent = binding.value
                            hljs.highlightBlock(target)
                        }
                    })
                }
            });

            function splitComplementary(angle, delta) {
                if (delta >= 180) {
                    delta = 180 - delta;
                }
                return [(angle + delta) % 360, (angle - delta) % 360, (angle + 180) % 360];
            }

            function HSLToHex(h,s,l) {
                s /= 100;
                l /= 100;

                let c = (1 - Math.abs(2 * l - 1)) * s,
                x = c * (1 - Math.abs((h / 60) % 2 - 1)),
                m = l - c/2,
                r = 0,
                g = 0,
                b = 0;

                if (0 <= h && h < 60) {
                    r = c; g = x; b = 0;
                } else if (60 <= h && h < 120) {
                    r = x; g = c; b = 0;
                } else if (120 <= h && h < 180) {
                    r = 0; g = c; b = x;
                } else if (180 <= h && h < 240) {
                    r = 0; g = x; b = c;
                } else if (240 <= h && h < 300) {
                    r = x; g = 0; b = c;
                } else if (300 <= h && h < 360) {
                    r = c; g = 0; b = x;
                }
                // Having obtained RGB, convert channels to hex
                r = Math.round((r + m) * 255).toString(16);
                g = Math.round((g + m) * 255).toString(16);
                b = Math.round((b + m) * 255).toString(16);

                // Prepend 0s, if necessary
                if (r.length == 1) {
                    r = "0" + r;
                }
                if (g.length == 1) {
                    g = "0" + g;
                }
                if (b.length == 1) {
                    b = "0" + b;
                }

                return "#" + r + g + b;
            }

            function getBetween(min, max) {
                return Math.random() * (max - min) + min;
            }

            function colorGenerator() {
                let angle = Math.random() * 360;
                let s = getBetween(25, 100);
                let l = getBetween(40, 90);
                return splitComplementary(angle, 20).map(h => HSLToHex(h, s, l));
            }

            // set up some nice colors based on magic color theory
            localStorage.setItem('colors', JSON.stringify(colorGenerator().concat(colorGenerator())));

            Vue.use(Verte, {
                recentColors: JSON.parse(localStorage.getItem('colors')),
                onRecentColorsChange(colors) {
                    localStorage.setItem('colors', JSON.stringify(colors));
                }
            });

            const vue = new Vue({
                el: '#app',
                data: {
                    density: 10,
                    canvasWidth: 1600,
                    canvasHeight: 900,
                    p: 10,
                    enableBackgroundColor: false,
                    backgroundColor: '#01172F',
                    transform: true,
                    colors: [],
                    requestComplete: false,
                    base64: "",
                    loading: false
                },
                methods: {
                    getImage() {
                        this.loading = true;
                        fetch('{url}png', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: this.renderedString
                        }).then((response) => {
                            this.loading = false;
                            if (response.ok && response.status === 200) {
                                return response.blob();
                            } else {
                                throw new Error('Cannot reach server');
                            }
                        }).then((image) => {
                            // add the png to the page
                            let elem = document.getElementById('image');
                            // remove all children
                            while (elem.childNodes.length > 0) {
                                elem.removeChild(elem.childNodes[0]);
                            }
                            elem.className = `is-${this.canvasWidth}x${this.canvasHeight}`;
                            // add self
                            let img = document.createElement('img');
                            img.src = URL.createObjectURL(image);
                            elem.appendChild(img);
                            // and set class
                            img.classList.add('has-ratio');
                            img.id = 'new-image';
                            // set base64 too
                            let reader = new FileReader();
                            reader.onloadend = () => {
                                this.base64 = reader.result;
                                document.getElementById('save-button').href = this.base64;
                            };
                            reader.readAsDataURL(image);
                            this.requestComplete = true;
                        }).catch((err) => {
                            this.loading = false;
                            this.$buefy.snackbar.open({
                                type: 'is-danger',
                                message: err.message,
                                indefinite: true
                            });
                        });
                    },
                    verteClick() {
                        // wrap it in a requestAnimationFrame so we know it's rendered
                        requestAnimationFrame(() => {
                            this.$refs.verte.slice(-1).pop().openMenu();
                        });
                    }
                },
                computed: {
                    renderedString() {
                        data = {
                            density: parseInt(this.density),
                            canvasWidth: parseInt(this.canvasWidth),
                            canvasHeight: parseInt(this.canvasHeight),
                            p: parseInt(this.p),
                            transform: this.transform,
                            colors: this.colors
                        };
                        data['backgroundColor'] = this.enableBackgroundColor ? this.backgroundColor : false;
                        return JSON.stringify(data, null, 4);
                    },
                    source() {
                        return `POST /png HTTP/1.1
Host: {url}
Content-Type: application/json; charset=utf-8
Content-Length: ${ this.renderedString.length }

${ this.renderedString }`;
                    },
                }
            });
        </script>
    </body>
</html>
