<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/verte@0.0.12/dist/verte.css">
        <title>Random Retro Rectangles</title>
    </head>

    <body>
        <div id="app" style="margin: 1em 32px">
            <b-navbar class="container" spaced :mobile-burger="false">
                <template slot="brand">
                    <b-navbar-item>
                        <p>Random Retro Rectangles</p>
                    </b-navbar-item>
                </template>
            </b-navbar>

            <div class="container">
                <div class="columns">
                    <div class="column">
                        <section>
                            <b-field label="Density">
                                <b-slider v-model="density" size="is-medium" lazy :min="1" :max="100"></b-slider>
                            </b-field>
                            <p>Describes how many squares are used.</p>
                            <hr>

                            <b-field label="Canvas">
                                <b-field grouped expanded>
                                    <b-field expanded>
                                        <b-input v-model="canvasWidth" type="number" min="2" max="3000"></b-input>
                                    </b-field>
                                    <p class="control">x</p>
                                    <b-field expanded>
                                        <b-input v-model="canvasHeight" type="number" min="2" max="3000"></b-input>
                                    </b-field>
                                </b-field>
                            </b-field>
                            <hr>

                            <b-field label="Merge Factor">
                                <b-slider v-model="p" size="is-medium" lazy :min="1" :max="100" :step="1"></b-slider>
                            </b-field>
                            <p>Smaller = more merging</p>
                            <hr>

                            <b-field grouped expanded>
                                <b-field label="backgroundColor" expanded>
                                    <b-field grouped>
                                        <b-switch v-model="enableBackgroundColor"></b-switch>
                                        <verte v-model="backgroundColor" picker="square" model="hex" menu-position="center" :value="backgroundColor"></verte>


                                    </b-field>
                                </b-field>

                                <b-field label="Rotate" expanded>
                                    <b-switch v-model="transform"></b-switch>
                                </b-field>
                            </b-field>

                            <hr>

                            <b-button @click="getImage" class="is-success">Get image</b-button>
                            <a id="save-button" download="random-retro-rectangles.png">
                                <b-button @click="saveImage" class="is-info" :disabled="!svg">Save image</b-button>
                            </a>
                        </section>
                    </div>
                    <div class="column">
                        <section>
                            <pre v-highlightjs="source">
                                <code class="http">
                                </code>
                            </pre>
                        </section>
                        <section>
                            <figure class="image is-16by9" id="image"></figure>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <script src="//unpkg.com/vue"></script>
        <script src="//unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/http.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/verte"></script>

        <script>
            hljs.initHighlightingOnLoad();

            Vue.directive('highlightjs', {
                deep: true,
                bind: function (el, binding) {
                    // on first bind, highlight all targets
                    let targets = el.querySelectorAll('code')
                    targets.forEach((target) => {
                    // if a value is directly assigned to the directive, use this
                    // instead of the element content.
                        if (binding.value) {
                            target.textContent = binding.value
                        }
                        hljs.highlightBlock(target)
                    })
                },
                componentUpdated: function (el, binding) {
                    // after an update, re-fill the content and then highlight
                    let targets = el.querySelectorAll('code')
                    targets.forEach((target) => {
                        if (binding.value) {
                            target.textContent = binding.value
                            hljs.highlightBlock(target)
                        }
                    })
                }
            });
            Vue.component('verte', Verte);

            const vue = new Vue({
                el: '#app',
                data: {
                    density: 16,
                    canvasWidth: 1600,
                    canvasHeight: 900,
                    p: 10,
                    enableBackgroundColor: false,
                    backgroundColor: '#01172F',
                    transform: true,
                    colors: [],
                    svg: false,
                    saved: false
                },
                methods: {
                    getImage() {
                        fetch('{url}', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: this.renderedString
                        }).then((response) => {
                            if (response.ok && response.status === 200) {
                                return response.text();
                            } else {
                                throw new Error('Cannot reach server');
                            }
                        }).then((svg) => {
                            // add the svg to the page
                            let elem = document.getElementById('image');
                            // remove all children
                            while (elem.childNodes.length > 0) {
                                elem.removeChild(elem.childNodes[0]);
                            }
                            // add self
                            elem.innerHTML = svg;
                            this.svg = svg
                            // and set class
                            elem.firstElementChild.classList.add('has-ratio');
                            this.saved = false;
                        }).catch((err) => {
                            this.$buefy.snackbar.open({
                                type: 'is-danger',
                                message: err.message,
                                indefinite: true
                            });
                        });
                    },
                    saveImage() {
                        let imgContainer = document.getElementById('image');

                        let imgElem = document.createElement('img');
                        imgElem.setAttribute('src', `data:image/svg+xml;base64,${btoa(this.svg)}`);

                        window.requestAnimationFrame(() => {
                            let canvasElem = document.createElement('canvas');
                            canvasElem.width = this.canvasWidth;
                            canvasElem.height = this.canvasHeight;
                            let ctx = canvasElem.getContext('2d');
                            ctx.drawImage(imgElem, 0, 0);

                            document.getElementById('save-button').href = canvasElem.toDataURL('image/png');
                            if (!this.saved) {
                                document.getElementById('save-button').click();
                                this.saved = true;
                            }
                        });

                    }
                },
                computed: {
                    renderedString() {
                        data = {
                            density: parseInt(this.density),
                            canvasWidth: parseInt(this.canvasWidth),
                            canvasHeight: parseInt(this.canvasHeight),
                            p: parseInt(this.p),
                            transform: this.transform,
                        };
                        data['backgroundColor'] = this.enableBackgroundColor ? this.backgroundColor : false;
                        return JSON.stringify(data, null, 4);
                    },
                    source() {
                        return `POST / HTTP/1.1
Host: {url}
Content-Type: application/json; charset=utf-8
Content-Length: ${ this.renderedString.length }

${ this.renderedString }`;
                    },
                }
            });
        </script>
    </body>
</html>
